@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/*COMMON*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    color: #222;
    letter-spacing: 2px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Nunito Sans', 'Noto Sans KR', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*header*/
.header_con{ width: 100%; height: 80px; background-color: #000; padding: 15px 7%; box-sizing: border-box; overflow: hidden; position: relative;}

.header_con .left_nav{ float: left;}
.header_con .left_nav li{ float: left; padding-right: 32px;}
.header_con .left_nav li a{ display: block; color: #fff; font-size: 14px; line-height: 50px;}

.header_con .logo{ width: 185px; height: 43px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.header_con .logo a{ display: block; height: 43px; background: url(../img/logo/Jo_Malone_logo.png) no-repeat; background-size: cover; text-indent: -9999px;}

.header_con .right_nav{ float: right;}
.header_con .right_nav li{ float: left; padding-right: 32px;}
.header_con .right_nav li a{ display: block; color: #fff; font-size: 14px; line-height: 50px;}
.header_con .right_nav li.cart{ padding: 12.5px 0; }
.header_con .right_nav li.cart a{ display: block; height: 25px; background-color: #fff; border-radius: 100%;}
.header_con .right_nav li.cart a span{ display: block; width: 25px; height: 25px; font-weight: bold;line-height: 25px; text-align: center;}


/*main*/

/*main_vis*/
.main_vis{ width: 100%; height: 100vh; background-color: #000; position: relative;}
.main_vis .bg{ width: 100%; height: 100vh; background: url(../img/bg/bg_vis.jpg) no-repeat; background-size: cover; opacity: 1;}
.main_vis .txt_wrap{ text-align: center; position: absolute; top: 12%; left: 50%; transform: translate(-50%, 0)}
.main_vis .txt_wrap p{ font-size: 18px; line-height: 40px;}
.main_vis .txt_wrap p em{ font-size: 24px; font-weight: 400;}
.main_vis .txt_wrap p strong{ font-size: 36px; font-weight: 700;}
